.ext-table-wrapper {
  position: relative;
  margin-bottom: 8px;
  transition: border 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  border: 2px solid transparent;
  border-radius: 8px;
}

.ext-table-wrapper:hover:not(.dragging-file) {
  border: 2px solid #0056d2;
  box-shadow: 0 0 6px rgba(76, 175, 80, 0.3);
}

.csv-download-button,
.csv-upload-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  color: white !important;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  pointer-events: none;
}

/* Button placement */
.csv-download-button {
  top: -10px;
  background-color: #0056d2;
}

.csv-upload-button {
  top: 25px;
  background-color: #4CAF50;
}

.ext-table-wrapper:hover:not(.dragging-file) .csv-download-button {
  opacity: 1;
  pointer-events: auto;
}

.csv-download-button.hidden {
  opacity: 0 !important;
  pointer-events: none;
}

.csv-upload-button.showing {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) scale(1.05);
}

.ext-table-wrapper {
  position: relative;
  overflow: visible !important;
  margin-top: 8px;
}